In [2]:
from sqlalchemy import create_engine
import pandas as pd

df_sql = pd.read_csv('LAST_Final_cleaned_immodata.csv', sep=';')

# Erstellen einer Verbindungs-Engine zur MySQL-Datenbank
engine = create_engine('mysql+pymysql://root:mysecretpassword@localhost:3306/mydatabase')

# Speichern des DataFrames in die MySQL-Datenbank
df_sql.to_sql('immobilien', con=engine, if_exists='replace', index=False)

13140

In [3]:
from sqlalchemy import create_engine, text

# Verbindung zur MySQL-Datenbank
engine = create_engine('mysql+pymysql://root:mysecretpassword@localhost:3306/mydatabase')

# SQL-Abfrage vorbereiten einfaches Beispiel
query = text("SELECT * FROM immobilien LIMIT 5")

# Abfrage ausführen und Ergebnisse drucken
with engine.connect() as conn:
    result = conn.execute(query)
    for row in result:
        print(row)

('In der Rüti, 8967 Widen', 'Wohnung 4.5 Zimmer (2. OG)', None, 4.5, 143.0, 1885000.0, 'Aargau', 341, 13181.818181818182)
('Im Aengerli 6, 4313 Möhlin', 'MODERN, FAMILIENFREUNDLICH UND GUT ERSCHLOSSEN WOHNEN / WOHNUNG M1', None, 2.5, 66.0, 785000.0, 'Aargau', 1372, 11893.939393939394)
('Dammweg 2, 5200 Brugg AG', 'NEUBAUPROJEKT Rütschi+ 3.5-Zimmer-Atelier-Loft, Raumhöhe 3.70 Meter mit verglastem Sheddach und mit Sitzplatz', None, 3.5, 108.0, 855000.0, 'Aargau', 686, 7916.666666666667)
('5057 Reitnau', '*Erstbezug* Schöne, moderne Eigentumswohnungen im schönen Reitnau', None, 5.5, 179.0, 920000.0, 'Aargau', 2805, 5139.664804469274)
('Seetalstrasse 124, 5503 Schafisheim', 'LETZTE 2.5 ZIMMERWOHNUNG IM EG VERFÜGBAR!', None, 2.5, 51.0, 460000.0, 'Aargau', 1880, 9019.607843137255)

In [5]:
#Durchschnittspreis pro Kanton
from sqlalchemy import create_engine, text

# Verbindung zur MySQL-Datenbank
engine = create_engine('mysql+pymysql://root:mysecretpassword@localhost:3306/mydatabase')

# SQL-Abfrage vorbereiten einfaches Beispiel
query = text("SELECT canton, AVG(Price) AS average_price FROM immobilien GROUP BY canton ORDER BY average_price DESC;")

# Abfrage ausführen und Ergebnisse drucken
with engine.connect() as conn:
    result = conn.execute(query)
    for row in result:
        print(row)

('Geneva', 2662038.919556172)
('Zug', 2127600.0)
('Aargau', 1777150.8194774347)
('Schwyz', 1649795.0310559007)
('Zurich', 1569609.8939929327)
('Ticino', 1511401.6334478809)
('Obwalden', 1451745.0980392157)
('Vaud', 1439482.4438264738)
('Basel-stadt', 1412193.2515337423)
('Nidwalden', 1391944.4444444445)
('Lucerne', 1240068.2673076922)
('Uri', 1233482.7471264368)
('Basel-landschaft', 1163888.8131736526)
('Appenzell-inner-rhoden', 1150526.3157894737)
('Graubuenden', 1117848.8731563422)
('Appenzell-ausser-rhoden', 1061070.8661417323)
('Thurgau', 1058093.911594203)
('St-gallen', 963322.8144458281)
('Bern', 952926.3384798099)
('Solothurn', 914892.3645970938)
('Schaffhausen', 892950.9803921569)
('Fribourg', 885312.4865470852)
('Valais', 863676.256043956)
('Neuchatel', 841078.0590062112)
('Glarus', 780138.8888888889)
('Jura', 597164.5011600928)

In [6]:
#Anzahl der Immobilein pro Kanton
from sqlalchemy import create_engine, text

# Verbindung zur MySQL-Datenbank
engine = create_engine('mysql+pymysql://root:mysecretpassword@localhost:3306/mydatabase')

# SQL-Abfrage vorbereiten einfaches Beispiel
query = text("SELECT canton, COUNT(*) AS number_of_properties FROM immobilien GROUP BY canton ORDER BY number_of_properties DESC;")

# Abfrage ausführen und Ergebnisse drucken
with engine.connect() as conn:
    result = conn.execute(query)
    for row in result:
        print(row)

('Valais', 910)
('Vaud', 899)
('Fribourg', 892)
('Ticino', 873)
('Zurich', 849)
('Aargau', 842)
('Bern', 842)
('Basel-landschaft', 835)
('St-gallen', 803)
('Solothurn', 757)
('Geneva', 721)
('Thurgau', 690)
('Graubuenden', 678)
('Neuchatel', 644)
('Lucerne', 520)
('Jura', 431)
('Basel-stadt', 163)
('Schwyz', 161)
('Schaffhausen', 153)
('Appenzell-ausser-rhoden', 127)
('Uri', 87)
('Zug', 85)
('Glarus', 72)
('Obwalden', 51)
('Nidwalden', 36)
('Appenzell-inner-rhoden', 19)

In [7]:
# Anzahl der Immobilien in verschiedenen Preisklassen
from sqlalchemy import create_engine, text

# Verbindung zur MySQL-Datenbank
engine = create_engine('mysql+pymysql://root:mysecretpassword@localhost:3306/mydatabase')

# SQL-Abfrage vorbereiten einfaches Beispiel
query = text("""SELECT 
    CASE 
        WHEN Price < 500000 THEN 'Under 500k'
        WHEN Price BETWEEN 500000 AND 1000000 THEN '500k-1M'
        WHEN Price BETWEEN 1000000 AND 1500000 THEN '1M-1.5M'
        WHEN Price BETWEEN 1500000 AND 2000000 THEN '1.5M-2M'
        ELSE 'Over 2M'
    END AS price_range, 
    COUNT(*) AS number_of_properties
FROM immobilien
GROUP BY price_range
ORDER BY number_of_properties DESC;
""")

# Abfrage ausführen und Ergebnisse drucken
with engine.connect() as conn:
    result = conn.execute(query)
    for row in result:
        print(row)

('500k-1M', 5784)
('1M-1.5M', 3048)
('Under 500k', 1545)
('Over 2M', 1383)
('1.5M-2M', 1380)

In [8]:
# Immobilien mit den höchsten Preisen
from sqlalchemy import create_engine, text

# Verbindung zur MySQL-Datenbank
engine = create_engine('mysql+pymysql://root:mysecretpassword@localhost:3306/mydatabase')

# SQL-Abfrage vorbereiten einfaches Beispiel
query = text("""SELECT * 
FROM immobilien
ORDER BY Price DESC
LIMIT 10;
""")

# Abfrage ausführen und Ergebnisse drucken
with engine.connect() as conn:
    result = conn.execute(query)
    for row in result:
        print(row)

('Rotkornstrasse 15, 5727 Oberkulm', 'Duplex-/Maisonette-Wohnung in Oberkulm', None, 4.5, 103.0, 590000000.0, 'Aargau', 184, 5728155.339805826)
('1205 Geneva, Switzerland', 'Off-market properties Genève', None, 6.0, 397.0, 35000000.0, 'Geneva', 1273, 88161.20906801008)
('1223 Cologny', "Empreinte de charme, subtil équilibre entre l'ancien et le contemporain avec 6 chambres.", None, 11.5, 500.0, 15500000.0, 'Geneva', 1490, 31000.0)
('Augio 1F, 6547 Augio', 'Wunderbares Demo-Objekt mit Weitsicht in Augio', 'Es handelt sich hier um ein Testinserat. Bitte nicht melden.', 7.5, 220.0, 15000000.0, 'Graubuenden', 2675, 68181.81818181818)
('1224 Chêne-Bougeries', 'Etat irréprochable pour cette propriété de 8 chambres à coucher', None, 11.0, 450.0, 14900000.0, 'Geneva', 646, 33111.11111111111)
('1223 Cologny', 'Somptueuse propriété avec vue sur le Lac Léman', None, 12.0, 416.0, 14900000.0, 'Geneva', 1490, 35817.307692307695)
('1224 Chêne-Bougeries', 'Magnifique villa contemporaine', "Cette magnifique propriété de style contemporaine s'étend sur une parcelle clôturée de plus de 2'000m2, profitant d'une superbe arborisation. Implant ... (579 characters truncated) ... alle de cinéma ou salle de fitness).\xa0Un studio indépendant avec cuisine ainsi que deux chambres séparées sont mis à disposition pour le personnel.", 11.0, 560.0, 14900000.0, 'Geneva', 646, 26607.14285714286)
('A Cologny, 1223 Cologny', 'Propriété exceptionnelle à Cologny', None, 14.0, 700.0, 14500000.0, 'Geneva', 764, 20714.285714285717)
('8044 Zürich', 'Villa am oberen Zürichberg', 'Freistehend gebaute 12Zimmer-Villa mit Doppelgarage an exzellenter, repräsentativer Wohnlage am oberen Zürichberg. Sicht auf die Stadt und den Zürich ... (337 characters truncated) ... nwerfer mit Sensoren usw. CHF 14 Mio., Verkaufsdokumentation nur an Interessenten mit Kapitalnachweis.PLT Properties SARL, 044 361 11 25, info@plt.ch', 12.0, 456.0, 14000000.0, 'Zurich', 2805, 30701.754385964912)
('1223 Cologny', 'Villa contemporaine avec vue imprenable sur la lac', None, 8.0, 354.0, 12800000.0, 'Geneva', 1490, 36158.19209039548)