In [ ]:
from sqlalchemy import create_engine
import pandas as pd

df_sql = pd.read_csv('new_merged_cleaned_immoscout24.csv', sep=';')

# Erstellen einer Verbindungs-Engine zur MySQL-Datenbank
engine = create_engine('mysql+pymysql://root:mysecretpassword@localhost:3306/mydatabase')

# Speichern des DataFrames in die MySQL-Datenbank
df_sql.to_sql('immobilien', con=engine, if_exists='replace', index=False)

In [ ]:
from sqlalchemy import create_engine, text

# Verbindung zur MySQL-Datenbank
engine = create_engine('mysql+pymysql://root:mysecretpassword@localhost:3306/mydatabase')

# SQL-Abfrage vorbereiten
query = text("SELECT * FROM immobilien LIMIT 5")

# Abfrage ausf√ºhren und Ergebnisse drucken
with engine.connect() as conn:
    result = conn.execute(query)
    for row in result:
        print(row)  # Druckt jedes Tupel in der Ausgabe